<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HIS"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS">
<mapEntry key="PrescriptionItemTestCase" value="getPrescriptionItemByBHTno;getMaxTermIdByUserId;UpdatePrescrptionItemTestCase;AddPrescriptionItem;getPrescriptionItemByTermID"/>
<mapEntry key="PrescriptionTermTestCase" value="AddPresceiptionTermTestCase;UpdateTermPrescrptionTestCase;getTermPrescriptionByBHTno"/>
</mapAttribute>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="PrescriptionItemTestCase"/>
<listEntry value="PrescriptionTermTestCase"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST">
<listEntry value="getPrescriptionItemByBHTno"/>
<listEntry value="AddPresceiptionTermTestCase"/>
<listEntry value="UpdateTermPrescrptionTestCase"/>
<listEntry value="getMaxTermIdByUserId"/>
<listEntry value="UpdatePrescrptionItemTestCase"/>
<listEntry value="getTermPrescriptionByBHTno"/>
<listEntry value="AddPrescriptionItem"/>
<listEntry value="getPrescriptionItemByTermID"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<mapAttribute key="org.testng.eclipse.PARAMETERS"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
